<p>
	animaton-example-works!
</p>

<div [@openClose]="isOpen ? 'open' : 'closed'" (@openClose.start)="onAnimationEvent($event)"
	(@openClose.done)="onAnimationEvent($event)" class="open-close-container">
	<p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<button (click)="toggle()">
  click to toggle animation effect
</button>

<br />
<!-- <code>
  transition('open <=> closed', [ animate('0.5s') ]),
</code> -->

<!-- <h4>
	transition ('* => open', [ animate ('1s', style ({ opacity: '*' }), ), ])
</h4>

<p>
	in this above example setting styles property opacity to * means set whatever
	value to this which is currently assigned to it
</p> -->


<!-- @.disabled disables all the animations on the container as well as its child -->
<!-- <div [@.disabled]="isDisabled">
  <div [@childAnimation]="isOpen ? 'open' : 'closed'"
    class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
  </div>
</div> -->